.qa {
    padding-top: 120px;
    padding-bottom: 120px;
}

.qa h2 {
    margin-bottom: 60px;
}

.qa dl > div {
    padding: 20px;
    border-radius: 4px;
}

.qa dl > div:nth-child(odd){
    background-color: var(--color-1);
}

.qa button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.qa button::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--color-p1);
}

.qa button::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url(../../img/icons/arrow.svg);
    transition: 0.3s;
}

.qa button:hover::after,
.qa button[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.qa dd {
    display: none;
}

.qa dd.active {
    display: block;
}

.qa dd {
    padding-top: 16px;
    padding-left: 20px;
    max-width: 80ch;
}

@media (max-width: 800px) {
    .qa {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .qa h2 {
        margin-bottom: 40px;
    }
}